# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Env
# =========================
.venv/
venv/
env/

# =========================
# Environment variables
# =========================
.env

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Logs / Cache
# =========================
*.log
.pytest_cache/
.mypy_cache/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Project specific
# =========================
data/
storage/
uploads/
temp/
qdrant_storage/